<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/dashboard.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="width:60px;" class="rounded-pill">
            <label id="app_name">Quantified Self</label>
            <div style="padding-left: 10px;">
              {% if current_user.is_authenticated %}
              <a id="profile" href="/profile/{{ user_data['user_id'] }}">My Profile</a>
              {% endif %}
              {% if current_user.is_authenticated %}
              <a id="logout" href="/logout/{{ user_data['user_id'] }}">Logout</a>
              {% endif %}
            </div>
          </a>
        </div>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {{ messages[0] }}.
            </div>
            {% endif %}
        {% endwith %}
      <div id="user" class="row" class="container">
        <h2>Hello, {{ user_data['user_name'] }}</h2>
      </div>
          <div class="col-sm" style="margin-left: 5%;">
            <b>List of trackers</b><br>
            <b style="text-align: left;">Last Reviewed : {{ user_data['logout_time'] }}</b>
          </div>
          
        <form action="/dashboard/{{ user_data['user_id'] }}" method="POST">
        <div class="container">
        <table class="table table-striped" id="customtable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name of Tracker</th>
              <th scope="col">Last Tracked</th>
              <th scope="col">Log a New Event</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="tablebody">
            
              {% for tracker in user_tracker_details %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/userlogs/{{ user_data['user_id'] }}/{{ user_tracker_details[loop.index-1]['tracker_id'] }}">{{ user_tracker_details[loop.index-1]['name'] }}</a></td>
                <td>{{ last_tracked[loop.index-1] }}</td>
                <td><a href="/logevent/{{ user_data['user_id'] }}/{{ user_tracker_details[loop.index-1]['tracker_id'] }}">+</a></td>
                <td><a href="/updatetracker/{{ user_data['user_id'] }}/{{ user_tracker_details[loop.index-1]['tracker_id'] }}">Edit</a>&nbsp;&nbsp;&nbsp;<a href="/deletetracker/{{ user_data['user_id'] }}/{{ user_tracker_details[loop.index-1]['tracker_id'] }}">Delete</a></td>
              {% endfor %}
          
          </tbody>
        </table>
      </form>
        <a class="button" href="/addtracker/{{ user_data['user_id'] }}" role="button">Add tracker</a>
    </div>

      <span id="spanfooter">
        <footer>
            &copy; Quantified Self, 2022
          </footer>
      </span>
</body>
</html>