<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/tracker.css') }}">
  
</head>
<body style="width:100%">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #212529 !important" style="width:100%">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="width:60px;" class="rounded-pill"></a>
      <label id="app_name">Quantified Self</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="text-align: left;">
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link active" style="color: cornsilk; margin-left: 55rem;" href="/dashboard/{{ user_id }}">Dashboard<span class="sr-only"></span></a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" style="color: cornsilk" href="/profile/{{ user_id }}">My Profile</a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" style="color: cornsilk" href="/logout/{{ user_id }}">Logout</a>
          {% endif %}
        </div>
      </div>
    </nav>
      </div>
      <div class="col-sm" style="height: 30px; margin-top: 10px; margin-left: 20px;">
        <b style="text-align: left;">Last Reviewed : {{ last_tracked }}</b>
      </div>
      <form action="/bar" method="POST">
      <div class="form-group drop">
        <select class="form-select" id="FormControlSelect1" name="time_data" id="tracker_option" required>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
        </select>
    </div>
  </form>
        {% if islog > 0 %}
        <div class="container" style="max-width: 100%; padding: auto;">
          <img src="/static/img/logplot.png" alt="No preview available" style="max-width: 100%; max-height: 100%;">
        </div>
        {% endif %}
      <div id="user" class="row" class="container">
        <h3></h3>
        <h4 style="text-align: center; padding-top: 1px; font-weight: bolder; text-decoration: underline;">List of Logs</h4>
      
        <form action="/dashboard/{{ user_id }}" method="POST">
        <div class="container">
        <table class="table table-striped" id="customtable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Value</th>
              {% if tracker_data['type'] == 'MultipleChoice' %}
              <th scope="col">Choice</th>
              {% else %}
              <th scope="col">Notes</th>
              {% endif %}
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="tablebody">
            {% for log in log_data %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td><a href="/">{{ log_data[loop.index-1]['log_time'] }}</a></td>
              <td>{{ log_data[loop.index-1]['value'] }}</td>
              {% if log_data[loop.index-1]['notes'] == None %}
              <td>{{ log_data[loop.index-1]['selected_choice'] }}</td>
              {% else %}
              <td>{{ log_data[loop.index-1]['notes'] }}</td>
              {% endif %}
              <td><a href="/updatelog/{{ user_id }}/{{ tracker_id }}/{{ log_data[loop.index-1]['log_id'] }}">Edit</a>&nbsp;&nbsp;&nbsp;<a href="/deletelog/{{ user_id }}/{{ tracker_id }}/{{ log_data[loop.index-1]['log_id'] }}">Delete</a></td>
            {% endfor %}
          </tbody>
        </table>
      </form>
        <a class="button" href="/logevent/{{ user_id }}/{{ tracker_id }}" role="button">Log a new event</a>
    </div>

      <span id="spanfooter">
        <footer>
            &copy; Quantified Self, 2022
          </footer>
      </span>
</body>
</html>